{% extends "../sub_base.html" %}
{% block title %}Lista de desejo{% endblock %}

{% block sub_content %}
<div class="col-12 mx-auto">
  <h1 class="h3">Minha lista</h1>
  <div>gerencia seua lista</div>
  <hr />

  {% if wishlist %}
  {% for products in wishlist  %}

  <div class="card mb-3 rounded-0">
    <div class="row g-0">
      <div class="col-md-2">
        {% for image in product.Product_image.all%}
        {% if image.is_featured %}
          <img class="img-fluid d-block p-2" width="135px" src="{{ image.image.url }}"
            alt="{{ image.image.alt_text }}" />
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><small class="text-muted">{{product.regular_price}}</small></p>
          <a type="button" class="btn btn-primary fw500 btn-sm" href="{% url 'users:user_wishlist' product.id %}">Remove from Wishlist</a>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
  {% else %}
  <p class="card-text">Nenhum produto em sua lista</p>
  {% endif %}



</div>
{% endblock %}